@font-face {
    font-family: 'Norse';
    src: url('./font/Norse-Bold.woff2') format('woff2'),
        url('./font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:black;
margin:0;
}

.container{
display:flex;
background:rgb(245,245,245);
}

.first{
width:25vw;
background-image:url("./the grass.jpeg");
background-size:cover;
background-position:center;
position:relative;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.logo{
font-family: 'Norse'; 
display:flex;
justify-content:center;
align-items:center;
gap:10px;
background:rgba(0,0,0,0.5);
color:white;
font-size:2rem;
padding:10px;
margin-top:120px;
}

.logo img{
height:70px;
}

.credit{
text-align:center;
color:white;
font-size:0.7rem;
margin-bottom:10px;
}

.credit a{
color:white;
}

.second{
font-family:sans-serif;
padding:30px;
width:40vw;
display:flex;
flex-direction:column;
gap:20px;
}

h2{
font-size:0.9rem;
}

.bigdiv{
background:white;
padding:20px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
display:flex;
flex-direction:column;
gap:15px;
box-shadow: 30px 0px 2px white,
-30px 0px 2px white;

}

.container-1,
.container-2,
.container-3{
display:flex;
gap:40px;
}

.container-1 div,
.container-2 div,
.container-3 div{
display:flex;
flex-direction:column;
flex: 1;
}
input{
    width:100%;
    padding:5px;
}
label{
font-size:0.7rem;
margin-bottom:3px;
}



.last{
margin-top:15px;
}

button{
background:#596D48;
border:none;
color:white;
border-radius:5px;
width:7em;
height:2em;
}